extend templates/layout.pug

block content
  form(action="/users/" + username + "/edit", method="POST")
    input(name="username", placeholder="Edit username", type="text", value=username)
    button Edit Username
