section(class="row blog", id='blog')
    //- div(class="col-sm col-md-6 blog__container")
    //-     h3(class="blog__title") Node.js First Steps
    //-     p(class="blog__date") Published: April 1 2019
    //-     button(class="blog__read") Read

    //- div(class="col-md-6 blog__picture")
    //-     img(class="blog__image", src='./images/blog-bg.png')