section(class="skills")
    div(class="row skills__container")
        div(class="col-4 col-sm-4 col-md-4")
            div(class="skills__item", id='rn')
        div(class="col-4 col-sm-4 col-md-4")
            div(class="skills__item", id='js')
        div(class="col-4 col-sm-4 col-md-4")
            div(class="skills__item", id='react')