@import "../base/colors.styl";
@import "../base/fonts.styl";

.header
  background-color: $header_background

  &__container
    box-sizing: border-box
    margin: 0 auto
    padding: 1rem
    width: 1000px

  &__title
    font-family: $title_font;
    margin: 0

  &__name
    font-family: $text_font;
    margin-bottom: 0
